<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
  <link rel="stylesheet" type="text/css" src="./public/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/b21f20a653.js"></script>
  <style>
  nav a{
    display: inline;
  }
  .tb{
    width: 110%;
  }

  body {
    background-color:#f5e5f5;
  }
</style>
<title>Acebook-Timeline</title>
</head>

<body>
  <nav>
    <div id="navwrapper">
      <div id="navbar">
        <div  class="td" id="i-links">
          <div  class="tb">
            <a class="new-post-link" href="/">
              <h1 class="logowrapper" style="color: white;">Acebook</h1>
            </a>

            <div  class="td" id="i-links">
              <div  class="tb">
                <div  class="td" id="m-td">
                  <div class="tb">
                    <span  class="td"><i class="material-icons"><button type="submit" class="navbut1" value = "Submit"><a href="/main">Main Page</a></button></i></span>
                    <form class="" style="margin-left: 150px;" action="auth/session/destroy" onsubmit="logging_out()" method="get">
                      <tr>

                        <td style="background-color: blue;">
                          <button type="submit" value = "Submit" class="navbut3">
                            <span class="td m-active"><i class="material-icons" style="margin-top:50px; color: darkred;">Log Out</i></span>
                          </button>
                        </td>
                      </tr>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="curr_time" style="margin-left: -230px; margin-top: -55px;" onload="time()"></div>
      </div>
    </nav>
    {{#users}}
    <h1 style="color: black; margin: 50px;">{{this.firstname}}'s Timeline</h1>
    {{/users}}
    <div>
      <button id="btnslider_prev" onclick="prev()">Prev</button>
      <img id="slider" src="images/anti-social-banner.jpg" width="100px" height="180px"/>
      <button id="btnslider_next" onclick="next()">Next</button>
    </div>
    <div class="wrapper" style="margin-top: -40px;">
      <section id="block" class="posts">
        <div class="each-year">
          <div class="title" id="date">2020</div>
          {{#each posts}}
          <div class="each-event">
            <div class="event-description">
              <li>{{this.message}}</li>
              <li style="margin-bottom: 20px;">{{this.date}}</li>
              <form style = "display: inline; float: right; margin-top: -20px;" action="/posts/delete/{{this._id}}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value="Delete" />
              </form>
              <form style = "display: inline; float: right; margin-top: -20px;" action="/posts/edit/{{this._id}}" method="get">
                <input type="submit" value="Edit" />
              </form>
              <form style = "display: inline; float: right; margin-top: -20px;" action="/posts/comment/{{this._id}}" method="get">
                <input type="submit" value="Comment" />
              </form>

            </div>
          </div>
          {{/each}}

        </section>
        <section class="block">
          <div class="each-year">
            <div class="title" id="date">2019</div>
            <div class="each-event">
              <div class="event-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </div>
            </div>
          </div>
        </section>
      </div>

      <footer class="container-fluid footer-container text-center">
        <div class="col-12">
          <p class="inline-block ">
            <i class="far fa-clock "></i>Anti-Social Network Opening Hours: Mondays - let's see how Monday goes fist. 1 pm until when's lunch?.
          </p>
        </div>
        <div class="col-12">
          <p class="inline-block ">
            <i class="fas fa-map-marker-alt "></i>We are located at - Never You Mind.
          </p>
        </div>
        <div class="col-12">
          <p class="inline-block ">
            <i class="fas fa-at "></i>info@wewontreply.co.uk</br>
          </p>
        </div>
        <div class="col-12">
          <p class="inline-block ">
            <i class="fas fa-phone "></i>0208 123456789
          </p>
        </div>
        <div class="col-12 ">

          <ul class="list-inline social-links ">
            <li class="list-inline-item ">
              <a target="_blank " href="# " class="hvr-icon-bounce">
                <i class="fab fa-facebook hvr-icon" aria-hidden="true "></i>
                <span class="sr-only ">Facebook</span>
              </a>
            </li>
            <li class="list-inline-item ">
              <a target="_blank " href="# " class="hvr-icon-bounce">
                <i class="fab fa-twitter hvr-icon" aria-hidden="true "></i>
                <span class="sr-only ">Twitter</span>
              </a>
            </li>
            <li class="list-inline-item ">
              <a target="_blank " href="# " class="hvr-icon-bounce">
                <i class="fab fa-linkedin-in hvr-icon" aria-hidden="true "></i>
                <span class="sr-only ">LinkedIn</span>
              </a>
            </li>
            <li class="list-inline-item ">
              <a target="_blank " href="# " class="hvr-icon-bounce">
                <i class="fab fa-pinterest hvr-icon" aria-hidden="true "></i>
                <span class="sr-only ">Pinterest</span>
              </a>
            </li>
            <li class="list-inline-item ">
              <a target="_blank " href="# " class="hvr-icon-bounce">
                <i class="fab fa-instagram hvr-icon" aria-hidden="true "></i>
                <span class="sr-only ">Instagram</span>
              </a>
            </li>
            <li class="list-inline-item ">
              <a target="_blank " href="# " class="hvr-icon-bounce">
                <i class="fab fa-youtube hvr-icon" aria-hidden="true "></i>
                <span class="sr-only ">YouTube</span>
              </a>
            </li>
          </ul>
        </div>
      </footer>


      <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-db44b196776521ea816683afab021f757616c80860d31da6232dedb8d7cc4862.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script id="rendered-js">
      var $element = $('.each-event, .title');
      var $window = $(window);
      $window.on('scroll resize', check_for_fade);
      $window.trigger('scroll');
      function check_for_fade() {
        var window_height = $window.height();
        $.each($element, function (event) {
          var $element = $(this);
          var element_height = $element.outerHeight();
          var element_offset = $element.offset().top;
          space = window_height - (element_height + element_offset - $(window).scrollTop());
          if (space < 60) {
            $element.addClass("non-focus");
          } else {
            $element.removeClass("non-focus");
          }
        });
      };
      </script>
      <script>
      {{!-- JS for clock --}}
      var div = document.getElementById('curr_time');
      function time() {
        div.innerHTML = "";
        var d = new Date();
        var s = d.getSeconds();
        var m = d.getMinutes();
        var h = d.getHours();

        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;

        div.innerHTML = h + ":" + m + ":" + s;
      }

      setInterval(time, 1000);

      {{!-- JS for image slider --}}
      var images = [src="images/anti-social-banner.jpg", src="images/meme.jpeg", src="images/sunset.jpeg"];
      var num = 0;
      function next() {
        var slider = document.getElementById('slider');
        num++;
        if(num >= images.length) {
          num = 0;
        }
        slider.src = images[num];
      }
      function prev() {
        var slider = document.getElementById('slider');
        num--;
        if(num < 0) {
          num = images.length-1;
        }
        slider.src = images[num];
      }

      {{!-- JS for logging out alert --}}
      function logging_out() {
        alert("You are now logging out - have an un-sociable day")
      };
      </script>

    </body>
    </html>
